#cityTitle {
    margin-top: 80px;
    font-size: 80px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

#cityTemp {
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
}

#cityCondition{
    font-size: 25px ;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

#cityTime{
    font-size: 25px ;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

#cityWind{
    font-size: 25px ;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}